/*
*
{
	border: 15px solid pink;
}
*/
:root
{
	--taylor-light-pink: #ecb7bf;
}
body
{
	text-align: center;
	text-color: white
	list-style-position: inside;
	background-color:  var(--taylor-light-pink);
}
header
{
	background-color:  rgb(255,105,180);
	border: 15px dotted (255,255,255);
	margin: 10px 100px;
}
header h1
{
	font-size:  75pt;
	margin-top:  15px;
	margin-bottom: 0;
}
header h2
{
	font-size:  30pt;
	color: var(--taylor-light-pink);
	font-variant: large-caps;
}
main h1
{
	font-size:  80pt;
	font-family: "Edition", Courier New;
	margin: 0;
}
h1+h2
{
	margin-top: -25px;
}
main h2
{
	text-decoration: underline;
	font-weight: italics;
	margin-bottom: 60;
}
main ul
{
	display:  table;
	margin: 0 auto;
	text-align:  right;
	padding-left: 2px;
}
{
	font-size: 35pt;
	float:  left;
}
		caption
		{
			text-decoration:underline;
			font-size:35px;
			color: deeppink;
		
		}
		th
		{
			width:200px;
			font-size:20px;
		}
		th,td
		{
			border:1px solid Pink;
			padding-left:10px;
			padding-right:10px;
			padding-top:10px;
			padding-bottom:10px;
		}
		table
		{
			border-spacing:0px;
		}
